.table tbody tr > td {
  background-color: #F3FFFD;
}

.table thead tr > th {
  background-color: #71AD64;
}

.table-hover tbody tr:hover > td {
  background-color: #71AD64 ;
}

tr {
    color: black;
}

.nav-tabs > li > a{
    color: black;
    background-color: #A2E0A3 ;
}
.nav-tabs > li > a:hover{
    background-color: #71AD64 ;
    border: medium none;
    border-radius: 0;
    color: black;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #71AD64 ;
    color: black;
}

.nav.navbar-nav > li > a:hover {
	background-color: #aaaaaa;
	color: black;
}

.nav.navbar-nav > li > a{
	color: white;
}

.panel {
    background-color: #F3FFFD;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #71AD64;
    border-color: #71AD64;
    color: black;
}

#search {
	margin: 10px;
	padding: 3px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

#search:focus,
#search.focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}