body {
    background-color: #4A9EA1; 
    color: black;
}

.table tbody tr > td {
  background-color: #F3FFFD;
}

.table thead tr > th {
  background-color: #71AD64;
}

.table-hover tbody tr:hover > td {
  background-color: #71AD64 ;
}

#search {
	margin: 10px;
	padding: 3px;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

#search:focus,
#search.focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}