.gen-group {
	width: 60%;
	left: 20%;
}

.pkmn-group {
	position: relative;
	width: 100%;
}

.loc-btn {
	background-color: #71AD64;
	border: 2px solid #4AA14D;
	color: white;
}

body {
	background: url(static/res/location_wallpaper_2.png);
	background-repeat: no-repeat; 
	background-size:cover;
}