p{
	font-size: 1.2em;
	color: black;
}

.data{
	height: auto;
	display: none;
	padding-left: 0em;
}

.show {
    display: none; 
}
.hide:target + .show {
    display: inline; 
}
.hide:target {
    display: none; 
}
.hide:target ~ .list {
    display:inline; 
}

.description{
	padding-left: 4em;
}

body{
	padding-top: 0;
}

.img-poke{
	width: 130px;
	height: 130px;
}

.poke-data{
	width: 130px;
}

tr:hover{
	color: black;
}

h2{
	color: black;
}

.hide, .show {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	font-size: 20px;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 2px #000;
	background: #cccbbb;
	opacity: .95;
	margin-right: 0;
	float: left;
	margin-bottom: 25px;
}

.hide:hover, .show:hover {
	font-weight: bold;
}
