.left-panel {
    float: left;
    width: calc(20% - 10px);
    margin-right: 10px;
}

.right-panel {
    float: right;
    width: 80%;
}

.main-wrapper {
	margin: 25px;
}

.poke-img {
	max-width: 100%;
    max-height: 100%;
}

.inner-panel {
	text-align: center;
}

.inner-panel > .panel-heading {
	padding: 1px;
}

.inner-panel > .panel-body {
	padding: 2px;
    color: white;
}

.panel {
    background-color: #083139;
}

.pokemon-row:hover { 
    cursor: pointer;    
    color: black;
}

.poke-img {
    background-color: white;
}

tr {
    color: white;
}

.nav-tabs > li > a{
  color: white;
}
.nav-tabs > li > a:hover{
  background-color: #083139 ;
    border: medium none;
    border-radius: 0;
    color: white;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #337AB7 ;
    color: white;
}