.btn-prev {
	position: relative;
	left: 4px;
	padding: 4px;
}

.btn-next {
	position: absolute;
	right: 4px;
	top: 0px;
	padding: 4px;
}

.block {
	position: relative;
}

.nav.navbar-nav > li > a:hover {
	background-color: #aaaaaa;
	color: black;
}

.nav.navbar-nav > li > a{
	color: white;
}

.nav.navbar-nav > li.active {
	background-color: #2E2E2E;
}

.table > tbody > tr > td {
     vertical-align: middle;
}