{% extends "base.html" %}

	{% block head %}
		<title>About - PokeMasters</title>

	{% endblock %}

	{% block content %}
		<h2 class="blog-post-title">Pokemasters</h2>
		<div class="cointainer-fluid">
			<div class="row">
				<div class="col-md-4">
					<img src=""></img>
					<h2 class="author-name" style="font-size:20px">Test Name</h2>
				</div>
				<div class="col-md-8">
					<p>About me:</p>
					<p>Responsibilities</p>
					<p>Num stuff</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<img src=""></img>
					<h2 class="author-name" style="font-size:20px">Test Name</h2>
				</div>
				<div class="col-md-8">
					<p>About me:</p>
					<p>Responsibilities</p>
					<p>Num stuff</p>
				</div>
			</div>
		</div>


		<div>
			Stats
		</div>
		<div>
			Data
		</div>
	{% endblock %}