{% extends "base.html" %}

	{% block head %}
		<title>About - PokeMasters</title>

	{% endblock %}

	{% block content %}
		<h2 class="blog-post-title" align="center">Pokemasters</h2>
		<hr>
		<div class="cointainer-fluid">
			<div class="row">
				<div class="col-md-4">
					<img src="../static/res/brett.jpg" width="300" height="300"></img>
					<h2 class="author-name" style="font-size:20px">Brett Kercher</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b>
							I'm a senior at UT. I like to program things, mostly Full Stack web development, and game dev. I also like video games and soccer. 
						</p>
						<p><b>Responsibilities:</b>
							My responsibilities included working on the Pokemon Model page. I also did some documentation and helped with the Rackspace domain setup.
						</p>
						<p>
							<b>Number of commits:</b>44<br>
							<b>Number of issues:</b>4<br>
							<b>Number of unit tests:</b>1<br>
						</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="../static/res/david.jpg" width="300" height="300"></img>
					<h2 class="author-name" style="font-size:20px">David Toth</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b>
							I am a Super Senior here at UT.  I enjoy programming, gaming, playing tennis, and visiting brewering in my free time. Oh, and I'm awesome.
						</p>
						<p><b>Responsibilities:</b>
							My responsibilities included setting up and designing the Pokemon move pages.  As well as setting up the Rackspace account and server for use of our website.
						</p>
						<p>
							<b>Number of commits:</b>44<br>
							<b>Number of issues:</b>4<br>
							<b>Number of unit tests:</b>1<br>
						</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="../static/res/joao.jpg" width="300" height="300"></img>
					<h2 class="author-name" style="font-size:20px">Joao Eloy</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b>
							I am a senior at UT. I enjoy playing Pokemon, discussing Pokemon, and theorizing about Pokemon in the real world. I also love sushi and playing Super Smash Brothers and being a squid and/or kid while playing Splatoon
						</p>
						<p><b>Responsibilities:</b>
							Scraping data from serebii and Bulbapedia and formatting the data in a way that can be dynamically pulled (such as JSON).
						</p>
						<p>
							<b>Number of commits:</b>44<br>
							<b>Number of issues:</b>4<br>
							<b>Number of unit tests:</b>1<br>
						</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="../static/res/robinson.jpg" width="300" height="300"></img>
					<h2 class="author-name" style="font-size:20px">Robinson Nguyen</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b>
							The short asian guy. I like anime and video games. Graduating this semester.
						</p>
						<p><b>Responsibilities:</b>
							Did the unit tests. And compiled technical report. Phase one group leader. 
						</p>
						<p>
							<b>Number of commits:</b>44<br>
							<b>Number of issues:</b>4<br>
							<b>Number of unit tests:</b>1<br>
						</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src="../static/res/tucker.jpg" width="300" height="300"></img>
					<h2 class="author-name" style="font-size:20px">Tucker Long</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b>
							I am a senior at UT in my last semester. Hobbies include playing video games and working on my java to python converter. My rattata is in the top percentile!
						</p>
						<p><b>Responsibilities:</b>
							Handled the locations/routes page, landing page, and about page.
						</p>
						<p>
							<b>Number of commits:</b>44<br>
							<b>Number of issues:</b>4<br>
							<b>Number of unit tests:</b>1<br>
						</p>
					</div>
					<p></p>
				</div>
			</div>
		</div>
		<hr>

		<div>
			<b>Total number of commits:</b>222<br>
			<b>Total number of issues:</b>23<br>
			<b>Total number of unit tests:</b>9<br>
			<a href="http://docs.pokemonproject.apiary.io/#">Apiary API</a>
			<a href="https://github.com/RobinsonNguyen/cs373-idb/issues">GitHub Issue Tracker</a>
			<a href="https://github.com/RobinsonNguyen/cs373-idb">GitHub Repo</a>
			<a href="">GitHub Wiki</a>
		</div>
		<div>
			<a href="http://bulbapedia.bulbagarden.net">Bulbapedia</a><br>
			<a href="http://pokeapi.co/about/">PokeAPI</a><br>
			<a href="http://www.serebii.net/pokearth/">Serebii</a><br>

			Serebii and Bulbapedia were both scraped using Java, and finding the html tags that surrounded and made up the data we wanted. Made heavy use of how html was structured in order to get exactly the data we needed across all Pokemon pages for both websites. Partial web-crawler that got links to all pages on the site from the site. RestfulPokemon API was scraper by just called GETs to the JSON objects, and storing them into separate json files that can be used dynamically with the site.
		</div>




	{% endblock %}