{% extends "base.html" %}

	{% block head %}
		<title>About - PokeMasters</title>

	{% endblock %}

	{% block content %}
		<h2 class="blog-post-title">Pokemasters</h2>
		<div class="cointainer-fluid">
			<div class="row">
				<div class="col-md-4">
					<img src=""></img>
					<h2 class="author-name" style="font-size:20px">Brett Kercher</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b></p>
						<p><b>Responsibilities:</b></p>
						<p>Num stuff</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src=""></img>
					<h2 class="author-name" style="font-size:20px">David Toth</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b></p>
						<p><b>Responsibilities:</b></p>
						<p>Num stuff</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src=""></img>
					<h2 class="author-name" style="font-size:20px">Joao Eloy</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b></p>
						<p><b>Responsibilities:</b></p>
						<p>Num stuff</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src=""></img>
					<h2 class="author-name" style="font-size:20px">Robinson Nguyen</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b></p>
						<p><b>Responsibilities:</b></p>
						<p>Num stuff</p>
					</div>
					<p></p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<img src=""></img>
					<h2 class="author-name" style="font-size:20px">Tucker Long</h2>
				</div>
				<div class="col-md-8">
					<p></p>
					<div style="text-align:left; margin-bottom:90px">
						<p><b>About me:</b></p>
						<p><b>Responsibilities:</b></p>
						<p>Num stuff</p>
					</div>
					<p></p>
				</div>
			</div>
		</div>


		<div>
			Stats
		</div>
		<div>
			Data
		</div>
	{% endblock %}