<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ move.name }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/thumbnail-gallery.css" rel="stylesheet">
    <link href="../static/css/moves.css" rel="stylesheet">

    <script src="../static/js/moves.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: #083139;">

    <h3> </h3>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container navbar-left">
                <a class="navbar-brand" href="../index.html"><img alt="PokeMasters" src="../static/res/pokeball.png"></a>
                <ul class="nav navbar-nav ">
                    <li><a href="">Pokemon</a></li>
                    <li><a href="">Trainers</a></li>
                    <li><a href="../location.html">Locations</a></li>
                    <li class="active"><a href="moves.html">Moves</a></li>
                </ul>
            </div>
        </nav>

    <table id="move-models" data-toggle="table" data-classes="table table-hover">
        <thead>
            <tr>
                <th data-sortable="true">Name</th>
                <th data-sortable="true">Power</th>
                <th data-sortable="true">Accuracy</th>
                <th data-sortable="true">PP</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves %}
                <tr class="move-row">
                    <td> {{ move.name }} </td>
                    <td> {{ move.power }} </td>
                    <td> {{ move.accuracy }} </td>
                    <td> {{ move.pp }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>