{% extends "base.html" %}

    {% block head %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/moves.css') }}">
        <script src="{{ url_for('static',filename='js/moves.js') }}"></script>
        <title>Moves - PokeMasters</title>

    {% endblock %}

    {% block content %}

    <h2 style="text-align: center;">Moves</h2>
    <div class="col-sm-11" style="width:100%;">
        <table id="move-models" 
            data-pagination="true"
            data-page-list="[10, 25, 50, 100, ALL]"
            data-toggle="table" 
            data-classes="table table-hover">
            <thead>
                <tr>
                    <th data-sortable="true">Name</th>
                    <th data-sortable="true">Type</th>
                    <th data-sortable="true">Category</th>
                    <th data-sortable="true">Power</th>
                    <th data-sortable="true">Accuracy</th>
                    <th data-sortable="true">PP</th>
                </tr>
            </thead>
            <tbody>
                {% for move in moves %}
                    <tr class="move-row">
                        <td> {{ move.MOVE_NAME }} </td>
                        <td> {{ move.MOVE_TYPE }} </td>
                        <td> {{ move.MOVE_CATEGORY }} </td>
                        <td> {{ move.MOVE_POWER }} </td>
                        <td> {{ move.MOVE_ACCURACY }} </td>
                        <td> {{ move.MOVE_PP }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}