{% extends "base.html" %}

    {% block head %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/moves.css') }}">
        <script src="{{ url_for('static',filename='js/moves.js') }}"></script>
        <title>Moves - PokeMasters</title>

    {% endblock %}

    {% block content %}

    <h3> </h3>
    <table id="move-models" data-toggle="table" data-classes="table table-hover">
        <thead>
            <tr>
                <th data-sortable="true">id</th>
                <th data-sortable="true">Name</th>
                <th data-sortable="true">Power</th>
                <th data-sortable="true">Accuracy</th>
                <th data-sortable="true">PP</th>
            </tr>
        </thead>
        <tbody>
            {% for move in moves %}
                <tr class="move-row">
                    <td> {{ move.id }} </td>
                    <td> {{ move.name }} </td>
                    <td> {{ move.power }} </td>
                    <td> {{ move.accuracy }} </td>
                    <td> {{ move.pp }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}