<!DOCTYPE html>

<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-table.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/global.css') }}">
    <script src="{{ url_for('static',filename='js/base.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-table.min.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-static-top" style="background-color: #555555; border: 0px;">
      <div class="container navbar-left" style="background-color: #555555;">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img alt="PokeMasters" src="../static/res/pokeball.png" style="position: relative; top: 2px"></a>
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('pokemon') }}" style="color: white">Pokemon</a></li>
          <li><a href="{{ url_for('location_id') }}"style="color: white">Locations</a></li>
          <li><a href="{{ url_for('moves') }}"style="color: white">Moves</a></li>
          <li><a href="{{ url_for('about') }}"style="color: white">About</a></li>
          <li>
            <input name="search" type="text" id="search" />
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}
  </body>
</html>