{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="../static/css/route.css">
		<title>PokeMasters</title>
	{% endblock %}

	{% block content %}
		<div align="center" style="overflow-y: hidden;">
			<video src="../static/res/Pokemon2hdcompressed.webm" autoplay style="height:100%; overflow-y: hidden;" loop>
			</video>
			<div align="center" style="position:fixed; top: 50%; color:white; width:100%;"><a href="https://github.com/RobinsonNguyen/cs373-idb/wiki/2.-Why-use-our-webpage%3F" style="color:white;" target="_blank">Don't know Pokemon? Click here to learn more.</a></div>
		</div>
	{% endblock %}
