{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="../static/css/route.css">
		<title>PokeMasters</title>
	{% endblock %}

	{% block content %}
		<div align="center" style="overflow-y: hidden;">
			<video src="../static/res/splash.webm" autoplay style="position:relative; top:0px; height:calc(100% - 50px);">
			</video>
			<div style="position:fixed; top:25px; left:50%;width:50%">
				<img src="../static/res/Pokemon_Logo.png" style="max-width: 50%; display:block; margin:auto; opacity:1;"/>
			</div>
		</div>
	{% endblock %}
