{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="../static/css/route.css">
		<title>PokeMasters</title>
	{% endblock %}

	{% block content %}
		<div class="col-sm-12" style="max-height: calc(80%)" algin="center">
			<img src="../static/res/Pokemon_Logo.png" style="max-width: 100%"/>
		</div>

		<div class="text-center col-sm-12" style="position:relative; top: 50px">
			<div class="btn-group" roll="group" style="padding: 4px;" align="center">
				<button type="button" class="btn btn-sm" style="color:black;">Pokemon</button>
				<button type="button" class="btn btn-sm" style="color:black;">Locations</button>
				<button type="button" class="btn btn-sm" style="color:black;">Moves</button>
			</div>
		</div>
	{% endblock %}
