{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="../static/css/location.css">
		<link rel="stylesheet" type="text/css" href="../static/css/route.css">
		<script src="../static/js/location.js"></script>

		<title>Locations - PokeMasters</title>
	{% endblock %}

	{% block content %}

		<h2 style="color: white;" align="center">Locations</h2>

		<div class="text-center">
			<div class="btn-group" roll="group" style="padding: 4px;" align="center">
				<button type="button" class="btn btn-sm" style="color:black;" onclick="populateRoutes(1, this)">Kanto</button>
				<button type="button" class="btn btn-sm" style="color:black;" onclick="populateRoutes(2, this)">Johto</button>
			</div>
		</div>


		<div id="routes">
			<h2 style="color: white;" align="center">Routes</h2>
			<div class="container pkmn-group">
				<div class="panel panel-default">
					<table id="routeTable" class="table" data-toggle="table" data-classes="table table-hover">
						<thead>
							<tr>
								<th>Route Name</th>
								<th style="text-align: center;" data-sortable="true">Average Level</th>
								<th style="text-align: center;" data-sortable="true"># of Trainers</th>
								<th style="text-align: center;" data-sortable="true">Avg money earned</th>
								<th style="text-align: center;" data-sortable="true"># of different Pokemon</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	{% endblock %}