<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/location.css">
		<link rel="stylesheet" type="text/css" href="../static/css/route.css">
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/location.js"></script>
	</head>

	<body style="background-color: #4A9EA1; color:white;">
		<nav class="navbar navbar-static-top" style="background-color: #555555; border: 0px">
			<div class="container navbar-left" style="background-color: #555555;">
				<a class="navbar-brand" href="index.html"><img alt="PokeMasters" src="../static/res/pokeball.png" style="position: relative; top: 2px"></a>
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('pokemon_id') }}">Pokemon</a></li>
					<li class="active"><a href="{{ url_for('locations') }}">Locations</a></li>
					<li><a href="{{ url_for('move_id') }}">Moves</a></li>
				</ul>
			</div>
		</nav>

		<h2 style="color: white;" align="center">Locations</h2>

		<div class="btn-group btn-group-justified" role="group" style="padding: 4px;">
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(1, this)">Kanto</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Kanto - Sevii Islands</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(2, this)">Johto</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Hoenn</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Sinnoh</button>
			</div>
		</div>

		<div class="btn-group btn-group-justified" role="group" style="padding: 4px;">
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Unova</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Kalos</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Orre</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Fiore</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Almia</button>
			</div>
			<div class="btn-group" roll="group" style="padding: 4px;">
				<button type="button" class="btn btn-default locationButton" onclick="populateRoutes(3, this)">Oblivia</button>
			</div>
		</div>

		<div id="routes">
			<h2 style="color: white;" align="center">Routes</h2>
			<div class="container pkmn-group">
				<div class="panel panel-default">
					<table id="routeTable" class="table">
						<tr>
							<th>Route Name</th>
							<th style="text-align: center;">Average Level</th>
							<th style="text-align: center;"># of Trainers</th>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div>
			<h2 style="color: white;">Wild Pokemon</h2>


			
		</div>

		<div>
			<h2 style="color: white;">Trainers</h2>

			<div class="btn-group btn-group-justified gen-group" role="group" style="padding: 4px;">
				<div class="btn-group" roll="group" style="padding: 4px;">
					<button type="button" class="btn btn-default">Gen I</button>
				</div>
				<div class="btn-group" roll="group" style="padding: 4px;">
					<button type="button" class="btn btn-default">Gen II</button>
				</div>
				<div class="btn-group" roll="group" style="padding: 4px;">
					<button type="button" class="btn btn-default">Gen III</button>
				</div>
				<div class="btn-group" roll="group" style="padding: 4px;">
					<button type="button" class="btn btn-default">Gen IV</button>
				</div>
			</div>
		</div>
	</body>
</html>