<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{move.name}} (Move) - PokeMaster</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/thumbnail-gallery.css" rel="stylesheet">
    <link href="../static/css/moves.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: #4A9EA1; color: white;">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container navbar-left">
                <a class="navbar-brand" href="../../"><img alt="PokeMasters" src="../static/res/pokeball.png"></a>
                <ul class="nav navbar-nav ">
                    <li><a href="../../pokemon/">Pokemon</a></li>
                    <li><a href="../../location">Locations</a></li>
                    <li class="active"><a href="../">Moves</a></li>
                </ul>
            </div>
        </nav>

    <!-- Page Content -->
    <div class="container">


        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">{{move.name}} ({{move.tm}})</h1>
            </div>

            <div class="col-lg-12">
                <h3><b>Move Data:</b></h3>
                <p class="data"><b>Type:</b> {{move.type}}</p>
                <p class="data"><b>Category:</b> {{move.category}}</p>
                <p class="data"><b>Power:</b> {{move.power}}</p>
                <p class="data"><b>Accuracy:</b> {{move.accuracy}}</p>
                <p class="data"><b>PP:</b> {{move.pp}}</p>
                <p class="data"><b>Description:</b> </p>
                <p class="description">{{move.description}}</p>
            </div>

            <div class="col-lg-12">
                <h1>Pokemon who learn through level up:</h1>
            </div>

            {% for pokemon in move.pokemonLVL %}

                <div class="col-lg-2 thumb">
                    <div align="center">
                        <a class="poke-data" href="#">
                            <h2>{{pokemon.name}}</h2>
                            <img class="img-poke" src="{{ url_for('static', filename='res/SPRITES/%s' % pokemon.img) }}" alt="">
                        </a>
                    </div>
                    <p class="data"><b>Learns at:</b> {{pokemon.lvl}}</p>
                    <p class="data"><b>HP:</b> {{pokemon.hp}}</p>
                    <p class="data"><b>Attack:</b> {{pokemon.atk}}</p>
                    <p class="data"><b>Defense:</b> {{pokemon.defs}}</p>
                    <p class="data"><b>Speed:</b> {{pokemon.speed}}</p>
                    <p class="data"><b>Special Attack:</b> {{pokemon.sp_atk}}</p>
                    <p class="data"><b>Special Defense:</b> {{pokemon.sp_def}}</p>
                    <p class="data"><b>Type(s):</b> {% for type in pokemon.type %}{{ type }}{% if not loop.last %}/{% endif %}{% endfor %}</p>
            </div>

            {% endfor %}

            <div class="col-lg-12">
                <h1>Pokemon who learn through TM:</h1>
            </div>

            {% for pokemon in move.pokemonTM %}

                <div class="col-lg-2 thumb">
                    <div align="center">
                        <a class="poke-data" href="#">
                            <h2>{{pokemon.name}}</h2>
                            <img class="img-poke" src="{{ url_for('static', filename='res/SPRITES/%s' % pokemon.img) }}" alt="">
                        </a>
                    </div>
                    <p class="data"><b>HP:</b> {{pokemon.hp}}</p>
                    <p class="data"><b>Attack:</b> {{pokemon.atk}}</p>
                    <p class="data"><b>Defense:</b> {{pokemon.defs}}</p>
                    <p class="data"><b>Speed:</b> {{pokemon.speed}}</p>
                    <p class="data"><b>Special Attack:</b> {{pokemon.sp_atk}}</p>
                    <p class="data"><b>Special Defense:</b> {{pokemon.sp_def}}</p>
                    <p class="data"><b>Type(s):</b> {{pokemon.type}}</p>
                </div>

            {% endfor %}

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
