<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ move.name }}</title>

    <!-- Bootstrap Core CSS -->
    <link type="text/css" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" href="{{ url_for('static', filename='/css/thumbnail-gallery.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='/css/moves.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color: #083139;">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container navbar-left">
                <a class="navbar-brand" href="index.html"><img alt="PokeMasters" src="../static/res/pokeball.png"></a>
                <ul class="nav navbar-nav ">
                    <li><a href="">Pokemon</a></li>
                    <li><a href="">Trainers</a></li>
                    <li><a href="../templates/location.html">Locations</a></li>
                    <li class="active"><a href="moves.html">Moves</a></li>
                </ul>
            </div>
        </nav>

    <!-- Page Content -->
    <div class="container">


        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">{{ move.name }}</h1>
            </div>

            <div class="col-lg-12">
                <h3><b>Move Data:</b></h3>
                <p class="data"><b>Type:</b> Water</p>
                <p class="data"><b>Category:</b> Status</p>
                <p class="data"><b>Power:</b> --</p>
                <p class="data"><b>Accuracy:</b> --</p>
                <p class="data"><b>PP:</b> 5</p>
                <p class="data"><b>Description:</b> </p>
                <p class="description">Changes the weather to rain for five turns, during which water moves inflict 50% extra damage, and fire moves inflict half damage. If the user is holding damp-rock, this effect lasts for eight turns. Thunder has 100% accuracy.  If the target has used detect or protect, thunder has a (100 - accuracy)% chance to break through the protection. Solar-beam has half power. Moonlight, morning-sun, and synthesis heal only 1/4 of the user's max HP. Pokémon with swift-swim have doubled original Speed. Pokémon with forecast become water. Pokémon with dry-skin heal 1/8 max HP, Pokémon with hydration are cured of major status effects-effects, and Pokémon with rain-dish heal 1/16 max HP at the end of each turn. </p>
            </div>

            <div class="col-lg-12">
                <h1>Pokemon who learn through level up:</h1>
            </div>

            <div class="col-lg-2 thumb">
                <div align="center">
                    <h2>Squirtle</h2>
                    <a class="poke-data" href="#">
                        <img class="img-poke" src="http://pthumb.lisimg.com/image/6194230/130full.jpg" alt="">
                    </a>
                </div>
                <p class="data"><b>Learns at:</b> 33</p>
                <p class="data"><b>HP:</b> 44</p>
                <p class="data"><b>Attack:</b> 48</p>
                <p class="data"><b>Defense:</b> 65</p>
                <p class="data"><b>Speed:</b> 43</p>
                <p class="data"><b>Special Attack:</b> 50</p>
                <p class="data"><b>Special Defense:</b> 64</p>
                <p class="data"><b>Type(s):</b> Water</p>
                <p class="data"><b>Abilities:</b> Rain-dish, Torrent</p>
            </div>

            <div class="col-lg-12">
                <h1>Pokemon who learn through TM:</h1>
            </div>

            <div class="col-lg-2 thumb">
                <div align="center">
                    <h2>Pidgey</h2>
                    <a class="poke-data" href="#">
                        <img class="img-poke" src="http://pthumb.lisimg.com/image/6195066/130full.jpg" alt="">
                    </a>
                </div>
                <p class="data"><b>Learns by:</b> TM 18</p>
                <p class="data"><b>HP:</b> 40</p>
                <p class="data"><b>Attack:</b> 45</p>
                <p class="data"><b>Defense:</b> 40</p>
                <p class="data"><b>Speed:</b> 56</p>
                <p class="data"><b>Special Attack:</b> 35</p>
                <p class="data"><b>Special Defense:</b> 35</p>
                <p class="data"><b>Type(s):</b> Normal/Flying</p>
                <p class="data"><b>Abilities:</b> Keen-eye, Tangled-feet, Big-pecks</p>
            </div>

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>
