{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pokemon.css') }}">
		<script src="{{ url_for('static',filename='js/pokemon.js') }}"></script>

		<title>Pokemon - PokeMasters</title>

	{% endblock %}

	{% block content %}
		<h2 style="text-align: center;">Pokemon</h2>

		<table id="pokemon-models" data-toggle="table" data-classes="table table-hover">
			<thead>
				<tr>
					<th data-sortable="true">No.</th>
					<th data-sortable="true">Name</th>
					<th data-sortable="true">HP</th>
					<th data-sortable="true">Attack</th>
					<th data-sortable="true">Defense</th>
					<th data-sortable="true">Sp. Attack</th>
					<th data-sortable="true">Sp. Defense</th>
					<th data-sortable="true">Speed</th>
				</tr>
			</thead>
			<tbody>
				{% for poke in pokemon %}
					<tr class="pokemon-row">
						<td> {{ poke.POKEMON_ID }} </td>
						<td> {{ poke.POKEMON_NAME }} </td>
						<td> {{ poke.POKEMON_HP }} </td>
						<td> {{ poke.POKEMON_ATK }} </td>
						<td> {{ poke.POKEMON_DEF }} </td>
						<td> {{ poke.POKEMON_SPATK }} </td>
						<td> {{ poke.POKEMON_SPDEF }} </td>
						<td> {{ poke.POKEMON_SPD }} </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}