{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pokemon.css') }}">
		<script src="{{ url_for('static',filename='js/pokemon.js') }}"></script>

		<title>{{ pokemon.name }} (Pokemon) - Pokemasters</title>

	{% endblock %}

	{% block content %}
		<div class="main-wrapper">
			<div class="panel panel-success col-sm-2 poke-panel">
				<div class="panel-heading">#{{ '%03d' % pokemon.id }} {{ pokemon.name }}</div>
	    		<div class="panel-body">
					<div id="img-panel" class="panel panel-success">
			    		<div class="panel-body poke-img">
			    			<img class="poke-img" src="{{ url_for('static', filename='res/SPRITES/%s' % pokemon.imgPath) }}"/>
			    		</div>
					</div>
					<div id="type-panel" class="inner-panel panel panel-success">
			    		<div class="panel-heading"><b>Type</b></div>
	    				<div class="panel-body">
	    					{% for type in pokemon.type %}
	    						{{ type }}
								{% if not loop.last %}
									/
								{% endif %}
	    					{% endfor %}
	    				</div>
					</div>
					<div id="egg-panel" class="inner-panel panel panel-success">
			    		<div class="panel-heading"><b>Egg Group</b></div>
	    				<div class="panel-body">
	    					{% for group in pokemon.eggGroup %}
	    						{{ group }}
								{% if not loop.last %}
									/
								{% endif %}
	    					{% endfor %}
	    				</div>
					</div>
					<div id="evo-panel" class="inner-panel panel panel-success">
			    		<div class="panel-heading"><b>Evolves Into</b></div>
	    				<div class="panel-body">
	    						{% for evo in pokemon.evolution %}
	    							<img src="{{ url_for('static', filename='res/SPRITES/%s_mini_.png' % evo.to) }}"/>
	    							<a href="/pokemon/{{ evo.to }}"> {{ evo.to }} </a>
	    						{% endfor %}
	    				</div>
					</div>
					<div id="stats-panel" class="inner-panel panel panel-success">
			    		<div class="panel-heading"><b>Base Stats</b></div>
	    				<div class="panel-body">
	    					<table class="table">
	    						<tbody>
		    						<tr> 
		    							<td> HP </td>
		    							<td> {{ pokemon.hp }} </td>
		    						</tr>
		    						<tr> 
		    							<td> Attack </td>
		    							<td> {{ pokemon.attack }} </td>
		    						</tr>
		    						<tr> 
		    							<td> Defense </td>
		    							<td> {{ pokemon.defense }} </td>
		    						</tr>
		    						<tr> 
		    							<td> Sp. Attack </td>
		    							<td> {{ pokemon.spAttack }} </td>
		    						</tr>
		    						<tr> 
		    							<td> Sp. Defense </td>
		    							<td> {{ pokemon.spDefense }} </td>
		    						</tr>
		    						<tr> 
		    							<td> Speed </td>
		    							<td> {{ pokemon.speed }} </td>
		    						</tr>
	    						</tbody>
	    					</table>
	    				</div>
					</div>
	    		</div>
			</div>

			<div class="container col-sm-10">
				<ul id="poke-tabs" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#moves" aria-controls="moves" role="tab" data-toggle="tab">Moves</a></li>
					<li role="presentation"><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab">Locations</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="moves">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Learned By</th>
								</tr>
							</thead>
							<tbody>
								{% for move in pokemon.moves %}
									<tr class="pokemon-row move-row">
										<td class="move-name">{{ move.name }}</td>
										<td>{{ move.learn_type }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="locations">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Game</th>
									<th>Route</th>
								</tr>
							</thead>
							<tbody>
								{% for loc in pokemon.locations %}
									<tr class="pokemon-row">
										<td>{{loc.game}}</td>
										<td>
										{% for r in loc.routes %}
											<a href="#" data-region="{{loc.game}}" class="route" id="{{r}}">{{r}}</a>
										{% endfor %}
										{% for o in loc.other %}
											{{o}}
										{% endfor %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{%endblock%}