<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pokemon.css') }}">
		<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
	</head>

	<body style="overflow: hidden;">
		<div>
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container navbar-left" id="NavigationBar">
					<a class="navbar-brand" href="index.html"><img alt="PokeMasters" src="res/pokeball.png"></a>
					<ul class="nav navbar-nav navbar-left">
						<li><a href="">Pokemon</a></li>
						<li><a href="">Trainers</a></li>
						<li><a href="location.html">Locations</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<div class="main-wrapper">
			<div class="left-panel panel panel-primary">
				<div class="panel-heading">Panel Heading</div>
	    		<div class="panel-body">Panel Content</div>
			</div>

			<div class="right-panel panel panel-primary">
				<div class="panel-heading">Panel Heading</div>
	    		<div class="panel-body">Panel Content</div>
			</div>
		</div>

	</body>
</html>