{% extends "base.html" %}

	{% block head %}
		<link rel="stylesheet" type="text/css" href="../static/css/location.css">
		<link rel="stylesheet" type="text/css" href="../static/css/route.css">
		<script src="../static/js/location.js"></script>
		<script src="{{ url_for('static',filename='js/route.js') }}"></script>

		<title>{{route.ROUTE_NAME}} (Route) - PokeMasters</title>
	{% endblock %}

	{% block content %}
		<div class="row" style="margin: 4px;" onload="lowestGen()">
			<div class="panel panel-primary col-sm-4" style="background-color: #71AD64; border: 2px solid #4AA14D;">
				<div class="panel-heading" style="background: #A2E0A3; border: 2px solid #4AA14D;">
					<h3 class="panel-title" style="text-align: center; color: black;">{{ route.ROUTE_NAME }}</h3>
				</div>
				<div class="text-center">
					<div class="btn-group" roll="group" style="padding: 4px;" align="center">
						{% for gen in images %}
							{% if gen.ROUTE_GEN == "Generation I" %}
								<button type="button" class="btn btn-sm" style="color:black;" onclick="genI()">Gen I</button>
							{% endif %}

							{% if gen.ROUTE_GEN == "Generation II" %}
								<button type="button" class="btn btn-sm" style="color:black;" onclick="genII()">Gen II</button>
							{% endif %}

							{% if gen.ROUTE_GEN == "Generation III" %}
								<button type="button" class="btn btn-sm" style="color:black;" onclick="genIII()">Gen III</button>
							{% endif %}

							{% if gen.ROUTE_GEN == "Generation IV" %}
								<button type="button" class="btn btn-sm" style="color:black;" onclick="genIV()">Gen IV</button>
							{% endif %}

							{% if gen.ROUTE_GEN == "Generation V" %}
								<button type="button" class="btn btn-sm" style="color:black;" onclick="genV()">Gen V</button>
							{% endif %}

							{% if gen.ROUTE_GEN == "Generation VI" %}
								<button type="button" class="btn btn-sm" style="color:black;" onclick="genVI()">Gen VI</button>
							{% endif %}
						{% endfor %}

						
					</div>
				</div>

				
				<div class="panel-body" style="color: black;">
					<img src="../static/res/RouteIMGS/{{images[0].ROUTE_IMG}}" />
					{{ route.ROUTE_MINI_DESCRIPTION }}
				</div>
				<hr>

			</div>

			<div class="col-sm-8">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#pokemon" aria-controls="pokemon" role="tab" data-toggle="tab" class="loc-btn" style="border: 2px solid #4AA14D;">Wild Pokemon</a></li>
					<li role="presentation"><a href="#trainers" aria-controls="trainers" role="tab" data-toggle="tab" class="loc-btn" style="border: 2px solid #4AA14D;">Trainers</a></li>
					<li role="presentation"><a href="#items" aria-controls="items" role="tab" data-toggle="tab" class="loc-btn" style="border: 2px solid #4AA14D;">Items</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="pokemon">
						<table id="pokemon-models" class="table" style="border: 2px solid #4AA14D; color: #000000" data-toggle="table" data-classes="table table-hover">
							<thead>
								<tr>
									<th width="15%" data-sortable="false"></th>
									<th width="55%" data-sortable="true">Pokemon</th>
									<th width="15%" data-sortable="true">Area</th>
									<th width="15%" data-sortable="true">Levels</th>
									<th width="15%" data-sortable="true">Rate</th>
								</tr>
							</thead>
							<tbody>
								{% for poke in pokemon %}
									{% if poke.ROUTE_POKEMON_GEN == "Generation I" %}
									<tr class="genIPokemon">
										<td><img src="../static/res/SPRITES/{{poke.ROUTE_POKEMON_NAME}}_mini_.png" /></td>
										<td>{{ poke.ROUTE_POKEMON_NAME }}</td>
										<td><img src="../static/res/Methods/{{poke.ROUTE_METHOD_IMG}}" />{{ poke.ROUTE_POKEMON_METHOD }}</td>
										<td>{{ poke.ROUTE_POKEMON_LEVELS }}</td>
										<td>{{ poke.ROUTE_POKEMON_RATE }}</td>
									</tr>
									{% endif %}

									{% if poke.ROUTE_POKEMON_GEN == "Generation II" %}
									<tr class="genIIPokemon" style="display:none;">
										<td><img src="../static/res/SPRITES/{{poke.ROUTE_POKEMON_NAME}}_mini_.png" /></td>
										<td>{{ poke.ROUTE_POKEMON_NAME }}</td>
										<td><img src="../static/res/Methods/{{poke.ROUTE_METHOD_IMG}}" />{{ poke.ROUTE_POKEMON_METHOD }}</td>
										<td>{{ poke.ROUTE_POKEMON_LEVELS }}</td>
										<td>{{ poke.ROUTE_POKEMON_RATE }}</td>
									</tr>
									{% endif %}

									{% if poke.ROUTE_POKEMON_GEN == "Generation III" %}
									<tr class="genIIIPokemon" style="display:none;">
										<td><img src="../static/res/SPRITES/{{poke.ROUTE_POKEMON_NAME}}_mini_.png" /></td>
										<td>{{ poke.ROUTE_POKEMON_NAME }}</td>
										<td><img src="../static/res/Methods/{{poke.ROUTE_METHOD_IMG}}" />{{ poke.ROUTE_POKEMON_METHOD }}</td>
										<td>{{ poke.ROUTE_POKEMON_LEVELS }}</td>
										<td>{{ poke.ROUTE_POKEMON_RATE }}</td>
									</tr>
									{% endif %}

									{% if poke.ROUTE_POKEMON_GEN == "Generation IV" %}
									<tr class="genIVPokemon" style="display:none;">
										<td><img src="../static/res/SPRITES/{{poke.ROUTE_POKEMON_NAME}}_mini_.png" /></td>
										<td>{{ poke.ROUTE_POKEMON_NAME }}</td>
										<td><img src="../static/res/Methods/{{poke.ROUTE_METHOD_IMG}}" />{{ poke.ROUTE_POKEMON_METHOD }}</td>
										<td>{{ poke.ROUTE_POKEMON_LEVELS }}</td>
										<td>{{ poke.ROUTE_POKEMON_RATE }}</td>
									</tr>
									{% endif %}

									{% if poke.ROUTE_POKEMON_GEN == "Generation V" %}
									<tr class="genVPokemon" style="display:none;">
										<td><img src="../static/res/SPRITES/{{poke.ROUTE_POKEMON_NAME}}_mini_.png" /></td>
										<td>{{ poke.ROUTE_POKEMON_NAME }}</td>
										<td><img src="../static/res/Methods/{{poke.ROUTE_METHOD_IMG}}" />{{ poke.ROUTE_POKEMON_METHOD }}</td>
										<td>{{ poke.ROUTE_POKEMON_LEVELS }}</td>
										<td>{{ poke.ROUTE_POKEMON_RATE }}</td>
									</tr>
									{% endif %}

									{% if poke.ROUTE_POKEMON_GEN == "Generation VI" %}
									<tr class="genVIPokemon" style="display:none;">
										<td><img src="../static/res/SPRITES/{{poke.ROUTE_POKEMON_NAME}}_mini_.png" /></td>
										<td>{{ poke.ROUTE_POKEMON_NAME }}</td>
										<td><img src="../static/res/Methods/{{poke.ROUTE_METHOD_IMG}}" />{{ poke.ROUTE_POKEMON_METHOD }}</td>
										<td>{{ poke.ROUTE_POKEMON_LEVELS }}</td>
										<td>{{ poke.ROUTE_POKEMON_RATE }}</td>
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script>
			$('#myTabs a').click(function (e) {
				e.preventDefault()
				$(this).tab('show')
			})
		</script>
	{% endblock %}