{% extends "base.html" %}

	{% block head %}
		<title>{{route.ROUTE_NAME}} (Route) - PokeMasters</title>
	{% endblock %}

	{% block content %}
		<div class="row">
			<div class="panel panel-primary col-sm-4">
				<div class="panel-heading" align="center"><h1><b>{{ route.ROUTE_NAME }}</b></h1></div>
				<div class="text-center">
					<div class="btn-group" roll="group" style="padding: 4px;" align="center">
						{% for gen in images %}
								<button type="button" class="btn btn-sm" style="color:black;">{{ gen.ROUTE_GEN }}</button>
						{% endfor %}
					</div>
				</div>

				
				<div class="panel-body" style="color: black;">
					<div>
						<img class="img-responsive center-block" src="../static/res/RouteIMGS/{{ images[0].ROUTE_IMG }}"/>
					</div>
					<br>
					{{ route.ROUTE_MAIN_DESCRIPTION }}
				</div>
				<hr>
				<div class="panel-body" style="color: black;">
					<table align="center">
						<tbody>
							<tr>
								<td width="30%"></td>
								<td width="40%" align="center"><a href="/location/{{ route.ROUTE_NORTH_EXIT }}">{{ route.ROUTE_NORTH_EXIT }}</a></td>
								<td width="30%"></td>
							</tr>
							<tr>
								<td width="30%"><a href="/location/{{ route.ROUTE_EAST_EXIT }}">{{ route.ROUTE_EAST_EXIT }}</a></td>
								<td width="40%"2 align="center">{{ route.ROUTE_NAME }}</td>
								<td width="30%"><a href="/location/{{ route.ROUTE_WEST_EXIT }}">{{ route.ROUTE_WEST_EXIT }}</a></td>
							</tr>
							<tr>
								<td width="30%"></td>
								<td width="40%" align="center"><a href="/location/{{ route.ROUTE_SOUTH_EXIT }}">{{ route.ROUTE_SOUTH_EXIT }}</a></td>
								<td width="30%"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="col-sm-8">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#pokemon" aria-controls="pokemon" role="tab" data-toggle="tab">Wild Pokemon</a></li>

					<li role="presentation"><a href="#trainers" aria-controls="trainers" role="tab" data-toggle="tab">Trainers</a></li>

					<li role="presentation"><a href="#items" aria-controls="items" role="tab" data-toggle="tab">Items</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="pokemon">
						<table id="pokemon-models" class="table" data-toggle="table" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" data-toggle="table" data-classes="table table-hover">
							<thead>
								<tr>
									<th width="15%" data-sortable="false"></th>
									<th width="55%" data-sortable="true">Pokemon</th>
									<th width="15%" data-sortable="true">Area</th>
									<th width="15%" data-sortable="true">Levels</th>
									<th width="15%" data-sortable="true">Rate</th>
									<th width="15%" data-sortable="true">Generation</th>
								</tr>
							</thead>
							<tbody>
								{% for poke in pokemon %}
								<tr class="genIPokemon">
									<td><img src="../static/res/SPRITES/{{poke.ROUTE_POKEMON_NAME}}_mini_.png" /></td>
									<td>{{ poke.ROUTE_POKEMON_NAME }}</td>
									<td><img src="../static/res/Methods/{{poke.ROUTE_METHOD_IMG}}" />{{ poke.ROUTE_POKEMON_METHOD }}</td>
									<td>{{ poke.ROUTE_POKEMON_LEVELS }}</td>
									<td>{{ poke.ROUTE_POKEMON_RATE }}</td>
									<td>{{ poke.ROUTE_POKEMON_GEN }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<div role="tabpanel" class="tab-pane fade in" id="trainers">
						<table class="table" data-toggle="table" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" data-toggle="table" data-classes="table table-hover">
							<thead>
								<tr>
									<th width="55%" data-sortable="true">Name</th>
									<th width="55%" data-sortable="true">Reward</th>
									<th width="55%" data-sortable="true">Generation</th>
								</tr>
							</thead>
							<tbody>
								{% for trainer in trainers %}
								<tr>
									<td><img src="../static/res/TrainerSprites/{{ trainer.ROUTE_TRAINER_IMG }}"/> {{ trainer.ROUTE_TRAINER_NAME }}</td>
									<td>{{ trainer.ROUTE_TRAINER_REWARD }}</td>
									<td>{{ trainer.ROUTE_TRAINER_GEN }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

					<div role="tabpanel" class="tab-pane fade in" id="items">
						<table class="table" data-toggle="table" data-pagination="true" data-page-list="[10, 25, 50, 100, ALL]" data-toggle="table" data-classes="table table-hover">
							<thead>
								<tr>
									<th width="55%" data-sortable="true">Name</th>
									<th width="55%" data-sortable="true">Generation</th>
									<th width="55%" data-sortable="true">Method</th>
								</tr>
							</thead>
							<tbody>
								{% for item in items %}
								<tr>
									<td><img src="../static/res/ItemSprites/{{ item.ROUTE_ITEM_IMG }}"/> {{ item.ROUTE_ITEM_NAME }}</td>
									<td>{{ item.ROUTE_ITEM_METHOD }}</td>
									<td>{{ item.ROUTE_ITEM_GAMES }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}