{% extends "base.html" %}

	{% block head %}
		<title>{% for term in terms %} {{term}} {% endfor %} - PokeMasters</title>
	{% endblock %}

	{% block content %}
		<h2 style="text-align: center;">Search Results for: "
			{% for term in terms %}
				{{term}}
				{% if not loop.last %}
					, 
				{% endif %}
			{% endfor %}"</h2>


		<h4> Pokemon </h4>
		{% for pokemon in results['pokemon'] %} 
			</br> 
			{{pokemon}}
		{% endfor %}

		<h4> Moves </h4>
		{% for move in results['moves'] %} 
			</br> 
			{{move}}
		{% endfor %}

		<h4> Locations </h4>
		{% for loc in results['routes'] %} 
			</br> 
			{{loc}}
		{% endfor %}

		
	{% endblock %}