{% extends "base.html" %}

	{% block head %}
		<title>{% for term in terms %} {{term}} {% endfor %} - PokeMasters</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search.css') }}">
		<script src="{{ url_for('static',filename='js/search.js') }}"></script>
	{% endblock %}

	{% block content %}
		

	<div class="search-panel">

		<h2 style="text-align: center;">
			Search Results for: {{query}}
		</h2>

		<div class="container">
			<ul id="search-tabs" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#pokemon" aria-controls="pokemon" role="tab" data-toggle="tab">Pokemon ({{results['pokemon']['or']|length}})</a></li>
				<li role="presentation"><a href="#moves" aria-controls="moves" role="tab" data-toggle="tab">Moves ({{results['moves']['or']|length}})</a></li>
				<li role="presentation"><a href="#locations" aria-controls="locations" role="tab" data-toggle="tab">Locations ({{results['locations']['or']|length}})</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="pokemon">
					{% if terms|length > 1 %}
						<table 	id="pokemon-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th> Results containing all search terms</th>
								</tr>
							</thead>
							<tbody>
								{% if results['pokemon']['and']|length > 0 %}
									{% for triple in results['pokemon']['and'] %} 
										{% if string(triple[1]) == string("NAME") %}
										<tr class="search-row">
											<td>testing</td>
										</tr>
										{% else %}
										<tr class="search-row">
											<td>{{triple[0].POKEMON_NAME}}</td>
										</tr>
										{% endif %}
									{% endfor %}
								{% else %}
									<tr>
										<td>No results contain all of the search terms</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
						<table 	id="pokemon-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th> Results containing any search terms</th>
								</tr>
							</thead>
							<tbody>
								{% if results['pokemon']['or']|length > 0 %}
									{% for triple in results['pokemon']['or'] %} 
										<tr class="search-row">
											<td>{{triple[0].POKEMON_NAME}}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results contain any of the search terms</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					{% else %}
						<table 	id="pokemon-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th>Name</th>
									<th>Context</th>
								</tr>
							</thead>
							<tbody>
								{% if results['pokemon']['or']|length > 0 %}
									{% for triple in results['pokemon']['or'] %} 

										<tr class="search-row">
											<td>{{triple[0].POKEMON_NAME}}</td>
											{% if triple[1] == "NAME" %}
											<td>Got from Name</td>
											{% elif triple[1] == "EVOLUTION"%}
											<td>Evolves into: {{ triple[2].POKEMON_EVOLUTION }}</td>
											{% elif triple[1] == "MOVE"%}
											<td>Learns: {{ triple[2].POKEMON_MOVE }}</td>
											{% elif triple[1] == "ROUTE"%}
											<td>Can be found in {{triple[2].ROUTE_NAME}}</td>
											{% elif triple[1] == "TYPE"%}
											<td>Type: {{triple[2].POKEMON_TYPE}}</td>
											{% else %}
											<td>??????</td>
											{% endif %}
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					{% endif %}

				</div>
				<div role="tabpanel" class="tab-pane fade" id="moves">
					{% if terms|length > 1 %}
						<table 	id="moves-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th> Results containing all search terms</th>
								</tr>
							</thead>
							<tbody>
								{% if results['moves']['and']|length > 0 %}
									{% for triple in results['moves']['and'] %} 
										<tr class="search-row">
											<td>{{triple[0].MOVE_NAME}}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results contain all of the search terms</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
						<table 	id="moves-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th> Results containing any search terms</th>
								</tr>
							</thead>
							<tbody>
								{% if results['moves']['or']|length > 0 %}
									{% for triple in results['moves']['or'] %} 
										<tr class="search-row">
											<td>{{triple[0].MOVE_NAME}}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results contain any of the search terms</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					{% else %}
						<table 	id="moves-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th>Results</th>
								</tr>
							</thead>
							<tbody>
								{% if results['moves']['or']|length > 0 %}
									{% for triple in results['moves']['or'] %} 
										<tr class="search-row">
											<td>{{triple[0].MOVE_NAME}}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					{% endif %}
				</div>
				<div role="tabpanel" class="tab-pane fade" id="locations">
					{% if terms|length > 1 %}
						<table 	id="routes-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th> Results containing all search terms</th>
								</tr>
							</thead>
							<tbody>
								{% if results['locations']['and']|length > 0 %}
									{% for triple in results['locations']['and'] %} 
										<tr class="search-row">
											<td>{{triple[0].ROUTE_NAME}}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results contain all of the search terms</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
						<table 	id="routes-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th> Results containing any search terms</th>
								</tr>
							</thead>
							<tbody>
								{% if results['locations']['or']|length > 0 %}
									{% for triple in results['locations']['or'] %} 
										<tr class="search-row">
											<td>{{triple[0].ROUTE_NAME}}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results contain any of the search terms</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					{% else %}
						<table 	id="routes-models"
								data-pagination="true"
						        data-page-list="[10, 25, 50, 100, ALL]"
								data-toggle="table" 
								data-classes="table table-hover">
							<thead>
								<tr class="search-row">
									<th>Results</th>
								</tr>
							</thead>
							<tbody>
								{% if results['locations']['or']|length > 0 %}
									{% for triple in results['locations']['or'] %} 
										<tr class="search-row">
											<td>{{triple[0].ROUTE_NAME}}</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td>No results</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

		
	{% endblock %}